<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
        <link rel="stylesheet" href="/static/style/page_style.css">
</head>
<body>
  <div class="header">
        <h1>Kedves Balás - Pszichológus</h1>
    </div>

<div class="topnav">
<a class="active" href="/">Kezdőlap</a>
    <a href="/introduction">Bemutatkozás</a>
  <a href="service">Szolgáltatás, Árak</a>
  <a href="contact">Kapcsolat</a>
    <a href="blog">Blog</a>
    </div>

    <div class="content">
        <br>
        <h2 class="subtitles">Blog</h2>
        <br>
        <br>
        <br>

        <br>
        <br>
    </div>
    <br>
    <br>

</body>
</html>