<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kapcsolat</title>
    <link rel="stylesheet" href="/static/style/page_style.css">
</head>

<body>
<div class="header">
        <h1>Kedves Balás - Pszichológus</h1>
    </div>

<div class="topnav">
<a class="active" href="">Kezdőlap</a>
    <a href="/introduction">Bemutatkozás</a>
  <a href="">Szolgáltaáts, Árak</a>
  <a href="contact">Kapcsolat</a>
    </div>

    <div class="content">
        <br>
        <h2 class="subtitles">Kapcsolat</h2>
        <br>
        <br>
        <br>
        <p class="contentText"><img class="telephone_icon" src="{{url_for('static',filename = 'Pictures/Icons/Telephone.png')}}"> Telefon: 06 20 123 4567 </p>

        <br>
        <p class="contentText"><img id="email_logo" src="{{url_for('static',filename = 'Pictures/Icons/email.png')}}"> E-mail: tesztcim@gmail.com</p>
        <br>
    </div>
</body>
</html>