<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/page_style.css">
    <title>Psychologist Site</title>
        <link rel="stylesheet" href="/static/style/page_style.css">
</head>
<body>

</body>
    <div>
    <a><h4>Bemutatkozás</h4></a>
    <a><h4>Szolgáltatás, Árak</h4></a>
        <a href="/contact"><h4>Kapcsolat</h4></a>
    </div>
    <div class="middle_content">
        <p>Ez egy pszicho magánrendelés oldal. </p>
    </div>
<div class="foot" name="foot"></div>
</html>