<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bemutatkozás</title>
  <link rel="stylesheet" href="/static/style/page_style.css">

</head>
<body>
        <div class="header">
        <h1>Kedves Balázs - Pszichológus</h1>
    </div>

<div class="topnav">
<a class="active" href="/"> <!--<img id="houseIcon" id="house_picture" src="{{url_for('static',filename = 'Pictures/Images/house.png')}}">-->Kezdőlap</a>
    <a href="/introduction">Bemutatkozás</a>
  <a href="/service">Szolgáltatás, Árak</a>
  <a href="contact">Kapcsolat</a>
    <a href="blog">Blog</a>
    </div>

    <div id="intro_content">
        <br>
        <h2 class="subtitles">Bemutatkozás</h2>
        <br>
        <br>
        <p id="introContentText">Kedves Balázs vagyok, okleveles pszichológus.
        2019-ben szereztem pszichológus diplomát az Eötvös Lóránd Tudomány Egyetemen.
        Korábban dolgoztam Egyetemi Diáktanácsadásban, jelenleg pedig iskolapszichológus vagyok 3 általános iskolában
        </p>
        <br>
        <br>
        <br>
    </div>
    <div id="profile_picture_div">
        <img id="profile_picture" src="{{url_for('static',filename = 'Pictures/Images/pp.png')}}">
    </div>
    <br>
    <br>
</body>
</html>